<app-header></app-header>

<div class="home-container">
  <div class="all-jobs"></div>

  <div class="job-section">
    <!-- Trending Jobs -->
    <div class="trending-jobs">
      <div class="top">
        <h4>Trending Jobs</h4>
        <div class="view-all-trending">View All</div>
      </div>
      <div class="job-thumbnail">
        <div class="job" *ngFor="let job of trendingJobs">
          <div class="cover">
            <img class="job-image" [src]="job.cover" alt="">
          </div>
          <div class="detail">
            <div class="name">{{job.name}}</div>
            <div class="location">{{job.location}}</div>
            <div class="rating">
              <span class="rating-value">{{job.rating}}</span>
              <app-star-rating [rating]="job.rating" [isReadOnly]="true"></app-star-rating>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Popular Jobs -->
    <div class="popular-jobs">
      <div class="top">
        <h4>Popular in Job Board</h4>
        <div class="view-all-popular">View All</div>
      </div>
      <div class="job-thumbnail">
        <div class="job" *ngFor="let job of popularJobs">
          <div class="cover">
            <img class="job-image" [src]="job.cover" alt="">
          </div>
          <div class="detail">
            <div class="name">{{job.name}}</div>
            <div class="location">{{job.location}}</div>
            <div class="rating">
              <span class="rating-value">{{job.rating}}</span>
              <app-star-rating [rating]="job.rating" [isReadOnly]="true"></app-star-rating>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
