
.home-container {
  display: flex;
  align-items: flex-start;
  margin-left: 40px;
  margin-top: 0px;
  margin-right: 20px;
  
}


.all-jobs {
  margin-top: 0px;
  order: 1;
  flex: 2;
  min-height: calc(101vh - 379px);
  margin-left: 38px;
  padding: 0px 40px;
  border-left: 2px solid #faebd7;
  display: flex;
  align-items: flex-start;
  margin-left: 1249px;
  margin-top: 23px;
  margin-right: 43px;
  min-width: calc(132vh - 576px)
}

.jobs {
  margin-left: -125px;
  margin-top: 35px;
  margin-right: 1px;
  min-height: calc(101vh - 379px);
  min-width: calc(101vh - 379px);

}

h5 {
  text-transform: uppercase;
  font-weight: bold;
  border-left: 5px solid #ffd800;
  padding-left: 10px;
  margin-right: 10px;
}



h4 {
  text-transform: uppercase;
  font-weight: bold;
  border-left: 5px solid #ffd800;
  padding-left: 10px;
  margin-right: 10px;
  
}

.job-section {
  display: flex;
  flex-direction: column;
  margin-top: -780px;
  margin-left: 40px;

}

.trending-jobs,
.popular-jobs {
  width: 48%; /* Adjust the width as needed */
  margin-bottom: 20px; /* Adjust margin between sections as needed */
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 20px;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
  border-left: 5px solid #ffd800;
  padding-left: 10px;
  margin-right: 10px;
}

.view-all-trending {
  color: #ffd800;
  cursor: pointer;
  font-weight: bold;
  margin-right: 99px; /* Adjust margin as needed */
}

.view-all-popular {
  color: #ffd800;
  cursor: pointer;
  font-weight: bold;
  margin-right: -708px; /* Adjust margin as needed */
}



.location {
  font-weight: normal;
  font-size: small;
}

.detail {
  width: 180px;
}

.name {
  font-weight: bold;
  letter-spacing: 0.5px;
  height: 50px;
  margin-top: 10px;
  cursor: pointer;
}

.job-thumbnail {
  display: flex;
  justify-content: space-between;
  margin-right: 20px; /* Adjust margin as needed */
}

img {
  border-radius: 5px;
}

.cover {
}

.job {
}

.popular-jobs {
  order: 0;
  width: 25%;
  min-height: calc(100vh - 80px);
  

  margin-right: 0px;
}

.job-image {
  max-width: 100%;
  border-radius: 11px;
}

.trending-jobs {
  width: 68%;
}

i {
  position: relative;
  display: inline-block;
  font-size: 1.0rem;
  padding-right: 0.1rem;
  color: #d3d3d3;
}

.filled {
  color: red;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.rating {
  padding-right: 45px;
  position: relative;
}

.rating-value {
  position: absolute;
  top: -2px;
  right: 0px;
  font-weight: bold;
  margin-right: 46px;
}
