<div class="login-container">
  <img class="job" src="assets/images/job.png" alt="" />
  <div class="logo">Job Board</div>
  <div class="desc">
    Job Board is your go-to Job application, simplifying the job search process for both employers and job seekers.
    Job Board ensures you find the right opportunities or candidates effortlessly.
    Streamline your hiring process, manage applications seamlessly, and stay connected on-the-go with mobile accessibility.
    Job Board - Where Careers and Opportunities Converge.
  </div>
  <div class="login-form">
    <div class="form-group">
      <label for="uname">Username</label>
      <input type="text" name="uname" class="form-control" [(ngModel)]="username" />
    </div>
    <div class="form-group">
      <label for="pword">Password</label>
      <input type="password" name="pword" class="form-control" [(ngModel)]="password" />
    </div>
    <div class="btn-container">
      <div class="error1">{{ errorMsg1 }}</div>
      <button class="btn btn-dark" (click)="login()">Login</button>
    </div>
  </div>

  <!-- Registration Form -->
  <div class="registration-form">
    <h2>Register</h2>
    <div class="form-group">
      <label for="regUname">Username</label>
      <input type="text" name="regUname" class="form-control" [(ngModel)]="registerUsername" />
    </div>
    <div class="form-group">
      <label for="regPword">Password</label>
      <input type="password" name="regPword" class="form-control" [(ngModel)]="registerPassword" />
    </div>
    <div class="error-container">
      <div class="error2">{{ errorMsg2 }}</div>
      <div class="confirmation" *ngIf="registrationSuccess">Registration successful!</div>
    </div>
    <button class="btn btn-dark" (click)="register()">Register</button>
  </div>

  </div>
