<app-header></app-header>


<div>
  <h2>About Us</h2>
  <p>
    Welcome to our job board company. At Job Board, we strive to connect talented individuals with innovative and exciting job opportunities. Our platform serves as a bridge between employers and job seekers, facilitating meaningful connections and fostering career growth.

    With a dedication to providing the best job search experience, we offer a comprehensive range of features and resources. Job seekers can browse through a wide variety of job listings, filter their search based on specific criteria, and easily apply for positions. Employers, on the other hand, can effortlessly showcase their open positions to a diverse pool of qualified candidates.

    Our team is committed to ensuring that every user has a seamless and successful experience on our platform. We understand the importance of finding the right job or candidate, and we continuously strive to enhance our services to meet the evolving needs of the job market.

    Join us today and explore a world of endless job possibilities. Let us help you navigate the career landscape and make meaningful connections that will shape your future.
  </p>

  <!-- FAQ section -->
  <div class="faq-section">
    <div class="faq-item">
      <h3 class="faq-question">How do I create an account?</h3>
      <p class="faq-answer">To create an account, simply register on the front page. Follow the prompts to enter your information correctly and login with the defined credentials.</p>
    </div>
    <div class="faq-item">
      <h3 class="faq-question">How can I apply for a job?</h3>
      <p class="faq-answer">Applying for a job is easy. Once you have created an account, navigate to the job listing you are interested in, click the title of the job and proceed to click on the "Apply Now" button. Follow the instructions provided by the employer to complete your application.</p>
    </div>

    <!-- GitHub link -->
    <div class="github-link">
      <a href="https://github.com/GonnyFTW/JOB-PORTAL" target="_blank">
        <img src="assets/images/github.png" alt="GitHub Icon">
        Contact Me!
      </a>
    </div>
  </div>
   
